---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <div class='image-wrapper'>
      <img src='/Logo.svg' alt='Logo' />
    </div>
    <footer>
      <ul>
        <li><a href='mailto:dev@dennisj.se'>dev@dennisj.se</a></li>
        <li><a href='https://github.com/devdennisj'>Github Profile</a></li>
      </ul>
    </footer>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .image-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 100px;
  }

  @media (max-width: 1250px) {
    .image-wrapper {
      max-width: 250px;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer > ul {
    display: flex;
    flex-direction: row;
  }

  ul > li {
    padding: 30px;
    font-family: 'Baskerville, serif';
  }
</style>
